ARIA-tools
ARIA-tools-docs
log
.bash_history
.bash_profile
.bashrc
.cache
.conda
.condarc
.config
.ipynb_checkpoints
.ipython
.jupyter
.local/**
.local/envs/*
!.local/envs/unavco.yml
.viminfo
.vscode

# ######### Notebook specific items #######

# Week 9
Week-09/lab_6_data
# Week 11
Week-11/pycorr_iceflow
Week-11/*.tif
Week-11/*.nc
Week-11/lab_6_data